*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
                font-size: 14px;
            }
            .cell-3-img{
                padding-bottom:10px;
            }
             .main-pargraph1{
                 
                padding-top:10px;
                padding-bottom:10px;
            }
            .main-pargraph2{
                 
                 padding-top:10px;
            }
            .main-pargraph1 img{
                 margin-left:15px;
                 float:right;
                
            }
            .main-pargraph2 img{
                 float:left;
                 margin-right:15px;
            }
           
            .trails{
                background-color: #CEECFE;
                border: solid 1px black;
                margin-top: 20px;
            }
            .trails-list{
                display: flex;
                justify-content: space-around;
                padding:20px;
               
            }
            .trails h4{
               text-align: center;
            }
            .trails ul{
               padding-left:25px;
               font-size: 12px;
            }
            .vertical_line{
                border: 1px solid rgb(201, 201, 201);
                border-radius:50%;
                height: 80px;
            }
            .gallery{
                padding-top:10px;
               
            }
            .gallery-images{
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content: center;
                padding-top:10px;
            }
            .gallery-images div {
                padding: 1px;
          
            }
            .gallery-images div img {
                border: 1px solid black;
                width:150px;
                height: 150px;
                width:100%;
            }
            h3{
                background-color: #0172BA;
                color:white;
                text-align: center;
            }
            .types-canoes{
                padding-top: 10px;
            }
            .types-canoes ul{
                padding-top:10px;
                padding-left: 25px;
            }
            .canoeing p{
                padding-top:10px;
            }
            .cell-6{
                margin-right:100px;
                margin-left:100px;
                border-top: 1px solid #0172BA;
                border-bottom: 1px solid #0172BA;
                font-size:10px;
                margin-top:10px;
        
            }
            .cell-6 h5{
                text-align: center;
            }

            h6{
                border-bottom: 1px solid #0172BA;
                font-weight: 700;
                font-size: 12px;
                width:180px;
            }
            .footer-logo img{ 
                position: relative;
                right:20px;
            }
.main-contaniner{
    display:grid;
    grid-template-areas: "header header header"
                "nav nav nav"
                "left main right"
                "credits credits credits"
                "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
    grid-gap: 20px;
    overflow-x: hidden;
    
}
.cell-1{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    
}
.cell-2{
    /* position: fixed;
    overflow: hidden; */
    grid-area: nav;
    margin-bottom:20px;

}
.cell-3{
    grid-area: left;
    width:150px;
    margin-left: 100px;
    margin-right: 0px;

}
.cell-4{
    grid-area: main;
}
.cell-5{
    grid-area: right;
    margin-right:100px;
    min-width: 200px;
    max-width: auto;
   
}
.cell-6{
    grid-area: credits;
}
.cell-7{
    grid-area: footer;
}
.buttons{
    margin-top:80px;
}
.buttons a{
    margin-left:20px;
    border-radius:50px;
    padding:8px;
    text-decoration: none;
    color: white;
    background-color:#0172BA;
    
}
.buttons a:hover{
    background-color:#089247;
}
header .socialmedia{
    margin-top:80px;
  
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    /* background-color: ; */
    color: #0172BA;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    margin-left: -60px;
    top: 100%;
    left: 50%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

nav{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color:#ECF7FE;
    border-top: solid 1px #0172BA;
    border-bottom:solid 1px #0172BA;
    width: 100%;
    height:auto;
   
}
nav ul {
    display: flex;
    justify-content: center; 
    /* padding:10px; */
    
}

nav ul li{
    list-style-type: none;
    padding:20px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    border:solid 1.5px #0172BA;
    border-radius:50px;
    background-color: white;
    text-decoration: none;
    text-align:center;
    color:#0172BA;
    padding: 5px 16px;
    
}
nav ul li a:hover{
    background-color: #003557;
    
}

footer{
    border-bottom:solid 1px #0172BA;
    border-top:solid 1px #0172BA;
    display: flex;
    justify-content: space-between;
    background-color: #ECF7FE;
    margin-top:30px;
    
   
}
footer div{
    padding:20px;
    
}
footer p{
    font-size: 10px;
}
